{% extends 'base.html.twig' %}
{% block title %}implementation objectif{% endblock %}
{% block page_title %} planning {% endblock %}
{% block page_subtitle %} Objectif {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %}{% endblock %}
        {% block box_body %}
            {{ form_start(form) }}
            {{ form_row(form.implementation) }}
            <div class="col-md-6">
                {{ form_row(form.datebegin) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.dateEnd) }}
            </div>
            <div class="pull-right">
                <button type="reset" class="btn btn-warning "><i class="fa fa-times"></i> {{ 'Cancel'|trans }}</button>
                <button type="submit" class="btn btn-primary "><i
                            class="fa fa-save"></i> {{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(form) }}
        {% endblock %}

{% endembed %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %}{% endblock %}
        {% block box_body %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for planning in plannings %}
                    <tr>
                        <td>{{ planning.id }}</td>
                        <td>{{ planning.datebegin ? planning.datebegin|date('Y-m-d') : '' }}</td>
                        <td>{{ planning.dateEnd ? planning.dateEnd|date('Y-m-d') : '' }}</td>
                        <td>
                          {{ planning.implementation }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
<a href="{{ path('employee_index') }}">back to list</a>
{% endblock %}
