{% extends 'base.html.twig' %}
{% block title %}details planning{% endblock %}
{% block page_title %} Details {% endblock %}
{% block page_subtitle %}{{ planning.implementation }} {% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-8">
            <a style="margin-bottom: 10px" class="btn btn-warning" href="{{ path('strategy_digital_show', {'id': planning.implementation.stepStrategy.strategy.id}) }}" data-toggle="tooltip" data-placement="top" title="Back customer"><i class="fa fa-arrow-left"></i></a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">
                <div class="pull-right btn-group">
                    <a style="margin-bottom: 10px" class="btn btn-danger"  href="#" data-toggle="modal" data-target="#modal-dialog" title="New Comment"><i class="fa fa-comment-alt"></i></a>
                    <a style="margin-bottom: 10px" class="btn btn-success " href="{{ path('strategy_digital_show', {'id': planning.implementation.stepStrategy.strategy.id}) }}" data-toggle="tooltip" data-placement="top" title="Valide"><i class="fa fa-check-double"></i></a>
                </div>

            </div>
        {% endif %}
    </div><br>
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %}{% endblock %}
        {% block box_body %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Step Strategy </th>
                </tr>
                </thead>
                <tbody>
                {% for planning in plannings %}
                    <tr>
                        <td>{{ planning.id }}</td>
                        <td>{{ planning.dateBegin ? planning.dateBegin|date('Y-m-d') : '' }}</td>
                        <td>{{ planning.dateEnd ? planning.dateEnd|date('Y-m-d') : '' }}</td>
                        <td>
                            {{ planning.stepStrategy }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{#
    <a  class="btn btn-danger btn-md" href="#" data-toggle="modal" data-target="#modal-dialog"><i class="fa fa-carrot"></i>add Comment</a>
#}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_body %}
            {% for comment in planning.implementation.stepStrategy.comments %}
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">{{ comment.employee }}</span>
                        <span class="direct-chat-timestamp float-right">{{comment.createdAt|date('y-m-d h:m')}}</span>
                    </div>
                    {% if comment.employee.compte.imageFilename is defined and comment.employee.compte.imageFilename  is not null %}
                        <img id="img_emp" class="col-md-5 img img-responsive img-thumbnail"style="height: 75px;"
                             src="{{ asset('uploads/' ~ comment.employee.compte.imageFilename) }}" title="{{ comment.employee.compte.username }}"
                             alt="My image">
                    {% else %}  <img id="img_emp" class="direct-chat-img"
                                     src="{{ asset('bundles/adminlte/images/default_avatar.png') }}" title="{{ comment.employee.compte.username }}"
                                     alt="My image">
                    {% endif %}
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        {{comment.libelle}}
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
    <div id="modal-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Comment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(form) }}  <div class="modal-body">

                    {{ form_widget(form) }}


                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">
                        <span class="btn-label">cancel</span>
                    </button>

                    <button type="submit" class="btn btn-primary" id="modal-delete-button">
                        <i class="fa fa-share-alt"></i>
                        <span class="btn-label">Send</span>
                    </button>

                </div>{{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}