{% extends 'base.html.twig' %}

{% block title %}Documentaire{% endblock %}

{% block body %}
    <h1>Documentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ documentaire.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ documentaire.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('documentaire_index') }}">back to list</a>

    <a href="{{ path('documentaire_edit', {'id': documentaire.id}) }}">edit</a>

    {{ include('documentaire/_delete_form.html.twig') }}
{% endblock %}
