{% extends 'base.html.twig' %}

{% block title %}Documentaire{% endblock %}
{% block page_title %} Documentaire {% endblock %}
{% block page_subtitle %} {{stepStrategy}} {% endblock %}
{% block page_content %}
    <br>
    {% for doc in documentaires %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {
        'boxtype' : 'success',
        'solid' : 0,
        'collapsible' : 'widget-box.collapse'|trans ~ '... ',
    } %}
        {% block box_before %}{% endblock %}
        {% block box_title %}{{ doc.libelle }}{% endblock %}
        {% block box_body %}
{{ doc.libelle }}
            {% if doc.lienVideo != null %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ doc.lienVideo }}" ></iframe>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
    {% endfor %}
    <a class="btn btn-warning" href="{{ path('strategy_digital_show', {'id': stepStrategy.strategy.id}) }}" data-toggle="tooltip" data-placement="top" title="Back strategy home"><i class="fa fa-arrow-left"></i></a>
{% endblock %}
