{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/gantt/jquery.ganttView.css') }}">
{% endblock %}
{% block title %}StrategyDigital{% endblock %}
{% block page_title %} Planning {% endblock %}
{% block page_subtitle %} {{ strategy_digital }} {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
    {% block box_before %}{% endblock %}
    {% block box_body %}
        <div id="ganttChart"></div>
    {% endblock %}
{% endembed %}

    <span class="hidden" id="id_step">{{ strategy_digital.id }}</span>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script src="{{asset('js/gantt/data.js')}}"></script>#}
    <script src="{{asset('js/gantt/date.js')}}"></script>
    <script src="{{asset('js/gantt/jquery.ganttView.js')}}"></script>
    <script type="text/javascript">
        var ganttData=[];
        $.ajax({
            url:Routing.generate('strategy_digital_gantt', {id: $('#id_step').text()}),
            type:"GET",
            success:function (data) {
                 ganttData=data ;
                 $("#ganttChart").ganttView({
                    data: ganttData,
                    slideWidth: 900,
                    behavior: {
                        onClick: function (data) {
                            var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        },
                        onResize: function (data) {
                            var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        },
                        onDrag: function (data) {
                            var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        }
                    }
                });
            },error:function (err) {
                alert(err)
            }
        });   $(function () {
            //var ganttData;

            /*$("#ganttChart").ganttView({
                data: ganttData,
                slideWidth: 800,
                behavior: {
                    onClick: function (data) {
                        var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                        $("#eventMessage").text(msg);
                    },
                    onResize: function (data) {
                        var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                        $("#eventMessage").text(msg);
                    },
                    onDrag: function (data) {
                        var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                        $("#eventMessage").text(msg);
                    }
                }
            });
*/
           /*  $("#ganttChart").ganttView("showWeekends", true);
            $("#ganttChart").ganttView("slideWidth", 600);*/
        });
    </script>
{% endblock %}