{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/gantt/jquery.ganttView.css') }}">
    <link rel="stylesheet" href="{{ asset('js/gantt/gantt.css') }}">
    <style type="text/css">
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 13px;
            padding: 0 0 50px 0;
        }
        .contain {
            width: 800px;
            margin: 0 auto;
        }
        h1 {
            margin: 40px 0 20px 0;
        }
        h2 {
            font-size: 1.5em;
            padding-bottom: 3px;
            border-bottom: 1px solid #DDD;
            margin-top: 50px;
            margin-bottom: 25px;
        }
        table th:first-child {
            width: 150px;
        }
    </style>
{% endblock %}
{% block title %}StrategyDigital{% endblock %}
{% block page_title %} Planning {% endblock %}
{% block page_subtitle %} {{ strategy_digital }} {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
    {% block box_before %}{% endblock %}
    {% block box_body %}
       {# <div id="ganttChart"></div>#}
        <div class="gantt"></div>
    {% endblock %}
{% endembed %}

    <span class="hidden" id="id_step">{{ strategy_digital.id }}</span>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script src="{{asset('js/gantt/data.js')}}"></script>#}
    <script src="{{asset('js/gantt/date.js')}}"></script>
    <script src="{{asset('js/gantt/jquery.ganttView.js')}}"></script>
    <script src="{{asset('js/gantt/jquery.fn.gantt.js')}}"></script>
    <script type="text/javascript">
        var ganttData=[];
        $.ajax({
            url:Routing.generate('strategy_digital_gantt', {id: $('#id_step').text()}),
            type:"GET",
            success:function (data) {
                 ganttData=data ;
                 $("#ganttChart").ganttView({
                    data: ganttData,
                    slideWidth: 900,
                    behavior: {
                        onClick: function (data) {
                            var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        },
                        onResize: function (data) {
                            var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        },
                        onDrag: function (data) {
                            var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        }
                    }
                });
               /* $(".gantt").gantt({
                    source: ganttData,
                    scale: "hours",
                    minScale: "hours",
                    navigate: "scroll"
                });*/
            },error:function (err) {
                alert(err)
            }
        });

        $.ajax({
           url:Routing.generate('strategy_digital_ganttview', {id: $('#id_step').text()}),
            type:"GET",
            success:function (data) {
                ganttviewData=data;
                $(".gantt").gantt({
                    source: ganttviewData,
                    scale: "days",
                    minScale: "days",
                    navigate: "scroll",
                    itemsPerPage: 20,
                });
            },error:function (err) {
                alert(err)
            }
        });
        $(function () {
            //var ganttData;

            /*$("#ganttChart").ganttView({
                data: ganttData,
                slideWidth: 800,
                behavior: {
                    onClick: function (data) {
                        var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                        $("#eventMessage").text(msg);
                    },
                    onResize: function (data) {
                        var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                        $("#eventMessage").text(msg);
                    },
                    onDrag: function (data) {
                        var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                        $("#eventMessage").text(msg);
                    }
                }
            });
*/
           /*  $("#ganttChart").ganttView("showWeekends", true);
            $("#ganttChart").ganttView("slideWidth", 600);*/
        });
        $(function() {

            "use strict";

            var today = moment();
            var andTwoHours = moment().add(2, "hours");
            var andTwoHours2 = moment().add(5, "hours");

            var today_friendly = "/Date(" + today.valueOf() + ")/";
            var next_friendly = "/Date(" + andTwoHours.valueOf() + ")/";
            var next_friendly2 = "/Date(" + andTwoHours2.valueOf() + ")/";

            $(".gan").gantt({

                source: [{ "name": "  Planning ","desc": "Inception",
                        "values": [
                            {"from": "/Date(1320192000000)/", "to": "/Date(1321401600000)/", "desc": "Id: 1<br/>Name:   Planning <br/>Date: 2011-11-02 to 2011-11-16", "label": "  Planni...", "customClass": "ganttRed"},
                        ]},
                    { "name": "  ","desc": "Actual",
                        "values": [
                            {"from": "/Date(1320192000000)/", "to": "/Date(1321401600000)/", "desc": "Id: 1<br/>Name:   Planning <br/>Date: 2011-11-02 to 2011-11-16", "label": "  Planni...", "customClass": "ganttRed"},
                        ]},
                    { "name": "  Gathering requirements ","desc": "Inception","values": [{"from": "/Date(1321401600000)/", "to": "/Date(1322870400000)/", "desc": "Id: 2<br/>Name:   Gathering requirements <br/>Date: 2011-11-16 to 2011-12-03", "label": "  Gather...", "customClass": "ganttGreen"}]},
                    { "name": "  Determine scope ","desc": "Inception","values": [{"from": "/Date(1322611200000)/", "to": "/Date(1323302400000)/", "desc": "Id: 3<br/>Name:   Determine scope <br/>Date: 2011-11-30 to 2011-12-08", "label": "  Determ...", "customClass": "ganttOrange"}]},
                    { "name": "  Analysis and design ","desc": "Iteration 1","values": [{"from": "/Date(1323302400000)/", "to": "/Date(1324684800000)/", "desc": "Id: 4<br/>Name:   Analysis and design <br/>Date: 2011-12-08 to 2011-12-24", "label": "  Analys..."}]},
                    { "name": "  Implementation ","desc": "Iteration 1","values": [{"from": "/Date(1324857600000)/", "to": "/Date(1326758400000)/", "desc": "Id: 5<br/>Name:   Implementation <br/>Date: 2011-12-26 to 2012-01-17", "label": "  Implem...", "customClass": "ganttRed"}]},
                    { "name": "  Deliver prototype ","desc": "Iteration 1","values": [{"from": "/Date(1326758400000)/", "to": "/Date(1326844800000)/", "desc": "Id: 6<br/>Name:   Deliver prototype <br/>Date: 2012-01-17 to 2012-01-18", "label": "  Delive...", "customClass": "ganttGreen"}]},
                    { "name": "  Testing ","desc": "Iteration 1","values": [{"from": "/Date(1326844800000)/", "to": "/Date(1328659200000)/", "desc": "Id: 7<br/>Name:   Testing <br/>Date: 2012-01-18 to 2012-02-08", "label": "  Testin...", "customClass": "ganttOrange"}]},
                    { "name": "  Review and evaluation ","desc": "Iteration 1","values": [{"from": "/Date(1328659200000)/", "to": "/Date(1328832000000)/", "desc": "Id: 8<br/>Name:   Review and evaluation <br/>Date: 2012-02-08 to 2012-02-10", "label": "  Review..."}]},
                    { "name": "  Analysis and enhancement of design ","desc": "Iteration 2","values": [{"from": "/Date(1328832000000)/", "to": "/Date(1329868800000)/", "desc": "Id: 9<br/>Name:   Analysis and enhancement of design <br/>Date: 2012-02-10 to 2012-02-22", "label": "  Analys...", "customClass": "ganttRed"}]},
                    { "name": "  Implementation (enhancement of prototype)","desc": "Iteration 2","values": [{"from": "/Date(1329868800000)/", "to": "/Date(1331337600000)/", "desc": "Id: 10<br/>Name:   Implementation (enhancement of prototype)<br/>Date: 2012-02-22 to 2012-03-10", "label": "  Implem...", "customClass": "ganttGreen"}]},
                    { "name": "  Deliver prototype ","desc": "Iteration 2","values": [{"from": "/Date(1331510400000)/", "to": "/Date(1331596800000)/", "desc": "Id: 11<br/>Name:   Deliver prototype <br/>Date: 2012-03-12 to 2012-03-13", "label": "  Delive...", "customClass": "ganttOrange"}]},
                    { "name": "  Testing ","desc": "Iteration 2","values": [{"from": "/Date(1331596800000)/", "to": "/Date(1332547200000)/", "desc": "Id: 12<br/>Name:   Testing <br/>Date: 2012-03-13 to 2012-03-24", "label": "  Testin...", "customClass": "ganttRed"}]},
                    { "name": "  Review and evaluation ","desc": "Iteration 2","values": [{"from": "/Date(1332720000000)/", "to": "/Date(1332892800000)/", "desc": "Id: 13<br/>Name:   Review and evaluation <br/>Date: 2012-03-26 to 2012-03-28", "label": "  Review...", "customClass": "ganttGreen"}]},
                    { "name": "  Finalising ","desc": "Finalization","values": [{"from": "/Date(1332892800000)/", "to": "/Date(1333065600000)/", "desc": "Id: 14<br/>Name:   Finalising <br/>Date: 2012-03-28 to 2012-03-30", "label": "  Finali...", "customClass": "ganttOrnage"}]},
                    { "name": "  Deployment ","desc": "Finalization","values": [{"from": "/Date(1333065600000)/", "to": "/Date(1333411200000)/", "desc": "Id: 15<br/>Name:   Deployment <br/>Date: 2012-03-30 to 2012-04-03", "label": "  Deploy..."}]},
                    { "name": "  Project review and evaluation ","desc": "Finalization","values": [{"from": "/Date(1333411200000)/", "to": "/Date(1333584000000)/", "desc": "Id: 16<br/>Name:   Project review and evaluation <br/>Date: 2012-04-03 to 2012-04-05", "label": "  Projec...", "customClass": "ganttRed"}]}],
                scale: "days",
                minScale: "days",
                navigate: "scroll",
                itemsPerPage: 10,
            });

        });

    </script>
{% endblock %}