{% extends 'base.html.twig' %}
{#
    Demo of the "avanzu shim layout" capabilities
#}

{% block document_title %}Dashboard Smart-T{% endblock %}
{% block page_title %}Dashboard Smart-T{% endblock %}
{% block page_subtitle %} Smart.. {% endblock %}
{% block page_content %}
    {% if user=='customer' %}
    <div class="row">
        <div class="col-md-4">
            {# ... infobox widget, solid background ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
            'solid' : 'red',
            'icon'  : 'far fa-star',
            } %}

                {% block box_text %}Strategie Digitale{% endblock %}
                {% block box_number %}{{ nbStrategies }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}

        </div>
        <div class="col-md-4">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
            'solid' : 'aqua',
            'icon'  : 'fa fa-users',
            } %}
                {% block box_text %}Users{% endblock %}
                {% block box_number %}{{ nbusers }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-4">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'indigo',
                'icon'  : 'fa fa-bolt',
            } %}
                {% block box_text %}Strategies encours{% endblock %}
                {% block box_number %}{{ nbStrategies }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-3">
            {# ... infobox widget, solid background ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'solid' : 'red',
                'icon'  : 'far fa-star',
            } %}

                {% block box_text %}Strategie Digitale{% endblock %}
                {% block box_number %}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}

        </div>
        <div class="col-md-3">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'solid' : 'aqua',
                'icon'  : 'fas fa-comments',
            } %}
                {% block box_text %}Customers{% endblock %}
                {% block box_number %}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-3">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'indigo',
                'icon'  : 'fa fa-users',
            } %}
                {% block box_text %}Employees{% endblock %}
                {% block box_number %}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-3">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'green',
                'icon'  : 'fa fa-bolt',
            } %}
                {% block box_text %}Utilisateurs{% endblock %}
                {% block box_number %}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
    </div>
    {% endif %}
    <div class="embed-responsive embed-responsive-16by9">
   {#     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
   #}
{#    <iframe class="embed-responsive-item" src="{{ asset('uploads/Prendreenmain.mp4') }}" allowfullscreen></iframe>#}
       {# <video class="embed-responsive-item"  autoplay controls>
            <source src="{{ asset('uploads/Prendreenmain.mp4') }}" type="video/mp4">
        </video>#}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
 {#  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>#}
    <script src="{{asset('loader.js')}}"></script>
   <script src="{{asset('js/highcharts.js')}}"></script>
    <script src="{{asset('js/exporting.js')}}"></script>
  {#  <script type="text/javascript">
       {{ chart(chart) }}
    </script>#}
{% endblock %}