{% extends 'base.html.twig' %}
{% block title %}Employe index{% endblock %}
{% block page_title %} Employee {% endblock %}
{% block page_subtitle %} list {% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-3">
            <div class="btn-group pull-right">
                <a class="btn btn-success btn-sm" href="{{ path('employee_new') }}" data-toggle="tooltip" data-placement="top" title="create Employee"><i class="fa fa-plus"></i></a>
                <a  class="btn btn-default btn-sm" href="#"><i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
    <br>
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %}{% endblock %}
        {% block box_body %}
    <table class="table contentimg table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsCoach</th>
                <th>Name</th>
                <th>Value</th>
                <th>Customers</th>
                <th>RegisteredAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.isCoach ? 'Yes' : 'No' }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.value }}</td>
                <td>
                    {% for member in employee.customersCoach %}
                        <span class="label label-default">{{ member }}</span>
                    {% endfor %}
                </td>
                <td>{{ employee.registeredAt ? employee.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm" href="{{ path('employee_show', {'id': employee.id}) }}" data-toggle="tooltip" data-placement="top" title="show"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-warning btn-sm" href="{{ path('employee_edit', {'id': employee.id}) }}" data-toggle="tooltip" data-placement="top" title="edit"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm" href="#" data-toggle="tooltip" data-placement="top" title="delete"><i class="fa fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
    {% block box_footer %}

    {% endblock %}

    {% block box_after %}{% endblock %}
{% endembed %}
{% endblock %}
