{% extends 'base.html.twig' %}
{% block page_title %} Strategy Step{% endblock %}
{% block page_subtitle %} {{ step_strategy }} {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_body %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-success"><i class="fa fa-save"></i> {{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                {% endblock %}
    {% block box_footer %}

    {% endblock %}

    {% block box_after %}{% endblock %}
{% endembed %}
    <span id="id_step" class="hidden">{{ step_strategy.id }}</span>
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_body %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Users</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for members_step in step_strategy.membersSteps %}
                            <tr>
                                <td>{{ members_step.id }}</td>
                                <td>{{ members_step.customerUser}}</td>
                                <td>
                                   {# <a class="btn btn-danger" href="{{ path('members_step_delete', {'id': members_step.id}) }}"><i class="fa fa-trash-alt"></i></a>
                                    #}
                                    <a class="btn btn-danger" href="#" onclick="getMemberId({{ members_step.id }})" data-toggle="modal" data-target="#modal-delete"
                                    ><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
    {% endembed %}
    <a class="btn btn-warning" href="{{ path('step_strategy_index2',{'id':step_strategy.strategy.id}) }}" data-toggle="tooltip" data-placement="top" title="Back strategy home"><i class="fa fa-arrow-left"></i></a>
    <div id="modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-delete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Are you sure you want to delete this item?</h4>

                    <input id="member_id" class="hidden">
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">
                        <span class="btn-label">cancel</span>
                    </button>

                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button">
                        <i class="fa fa-trash-alt"></i>
                        <span class="btn-label">Delete</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
function getMemberId(id) {
    $("#member_id").val(id);
}
$('#modal-delete-button').click(function () {
    $.ajax({
        url: Routing.generate('member_delete', {id: $("#member_id").val()}),
        type: 'DELETE', success: function (data) {
            window.location.href = Routing.generate('step_strategy_member', {id: $('#id_step').text()});
        }
    })
})
    </script>
{% endblock %}