{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block stylesheets %}
   {# {{ parent() }}#}
  {{ encore_entry_link_tags('adminlte') }}
    {#<link rel="stylesheet" href="{{ asset('style.css') }}">#}
{% endblock %}
{% block page_title %}SMARTWORLD{% endblock %}
{% block logo_large %} <b>SMART-</b>Option {% endblock %}
{% block logo_mini %}<b>S-</b>O{% endblock %}
{% block sidebar_search %}{% endblock %}
 {#{{ macro.avatar(user.avatar, user.email)  }}#}
{% block navbar_start %}
    <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-globe-africa"></i>
            <span class="label label-primary">{{ app_locales|length }}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">Change language (scroll for more)</li>
            <li>
                <ul class="menu">
                    {% for locale in app_locales %}
                    <li>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">
                            {{ locale|language(app.request.get('_locale')) }}
                            <span class="pull-right">{{ locale }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
{% endblock %}
{% block navbar_tasks %}

{% endblock %}
  {% block navbar_control_sidebar_toggle %}

  {% endblock %}
{% block footer %}
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020<a href="#">SMART-OPTION</a>.</strong> All rights reserved.
    </footer>
{% endblock %}
{% block javascripts %}
  {# {{ parent() }}#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  {{ encore_entry_script_tags('adminlte') }}
   {% include 'includes/javascript.html.twig' %}
{% endblock %}