{% extends 'base.html.twig' %}
{% block title %}StrategyDigital{% endblock %}
{% block page_title %} Details {% endblock %}
{% block page_subtitle %} {{ implementation.implementation.stepStrategy }} {% endblock %}
{% block page_content %}
    <a style="margin-bottom: 10px" class="btn btn-warning" href="{{ path('strategy_digital_show', {'id': implementation.implementation.stepStrategy.strategy.id}) }}" data-toggle="tooltip" data-placement="top" title="Back customer"><i class="fa fa-arrow-left"></i></a>
    <br>
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %}{% endblock %}
        {% block box_body %}
           <div class="col-md-6">
               <dl class="dl-horizontal jh-entity-details">
                   <dt><span data-translate="gestEApp.bulletin.moyenne">Offre</span></dt>
                   <dd>
                       <span>{{ implementation.offre }}</span>
                   </dd>
                   <dt><span data-translate="gestEApp.bulletin.moyenne">delai</span></dt>
                   <dd>
                       <span>{{ implementation.delai }}</span>
                   </dd>
               </dl>
           </div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Objectifs
                            spécifiques
                        </th>
                        <th>Quantité</th>
                        <th>Valeur (CA)</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for obj in implementation.objectifs %}
                        <tr>
                            <td>{{ obj.libelle }}</td>
                            <td>{{ obj.quantite }}</td>
                            <td>{{ obj.value }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %} <a  class="btn btn-default btn-sm" href="#"><i class="fa fa-download"></i>add Comment</a>{% endblock %}
        {% block box_body %}

        {% endblock %}
    {% endembed %}
{% endblock %}
