{% extends 'base.html.twig' %}

{% block title %}CustomerUser{% endblock %}
{% block page_title %} User {% endblock %}
{% block page_subtitle %} Details {% endblock %}
{% block page_content %}

<div class="row">
    <div class="col-md-3">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_before %}{% endblock %}
            {% block box_body %}
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="{{ asset('bundles/adminlte/images/default_avatar.png') }}"
                         alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">{{ user.username }}</h3>

                <p class="text-muted text-center">{{ user.email}}</p>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Strategy Digital</b> <a class="float-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Task</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                </ul>

            {% endblock %}

            {% block box_after %}{% endblock %}
        {% endembed %}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                    {% block box_before %}{% endblock %}
                    {% block box_body %}
                        <ul class="nav nav-pills">
                            {% for tab in tabs %}
                                <li class="nav-item"><a class="nav-link active" href="{{tab[1]}}" data-toggle="tab">{{tab[0]  }}</a></li>
                            {% endfor %}
                       </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="personnelle">
                                {{ include('customer_user/_form.html.twig', {'button_label': 'Update'}) }}
                                <br>
                            </div>

                            {#gestion compte#}
                            <div class="tab-pane" id="compte">
                                {{ form_start(formUser) }}
                                <div class="col-md-6">
                                    {{ form_row(formUser.username) }}
                                    {{ form_row(formUser.email) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(formUser.plainPassword) }}
                                </div>
                                {{ form_widget(formUser) }}

                                <div class="pull-right">
                                    <button type="reset" class="btn btn-warning "><i class="fa fa-times"></i> {{ 'Cancel'|trans }}</button>
                                    <button type="submit" class="btn btn-primary "><i class="fa fa-check-square"></i> {{ button_label|default('Save') }}</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <div class="tab-pane" id="strategie">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for strategy_digital in strategy_digitals %}
                                        <tr>
                                            <td>{{ strategy_digital.id }}</td>
                                            <td>{{ strategy_digital.name }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-info btn-sm" href="{{ path('strategy_digital_show', {'id': strategy_digital.id}) }}" data-toggle="tooltip" data-placement="top" title="show"><i class="fa fa-eye"></i></a>
                                                    <a class="btn btn-warning btn-sm" href="{{ path('step_strategy_index2', {'id': strategy_digital.id}) }}" data-toggle="tooltip" data-placement="top" title="planning"><i class="fa fa-cogs"></i></a>
                                                    <a class="btn btn-primary btn-sm" href="{{ path('customer_user_edit', {'id': strategy_digital.id}) }}" data-toggle="tooltip" data-placement="top" title="assign"><i class="fa fa-user-plus"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endblock %}

                    {% block box_after %}{% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>
        {% endblock %}
